<div class="myname-container">
	<div class="row">
		<div class="jumbotron myname-square">
			<div class="container">				
				<form action='/bottle/create' method='post' class="form-inline" role="form">
					<div class="form-group">
		  				<input type="text" name='name' placeholder="Pon tu feo nombre aquí" class="form-control" autofocus>
		  				<br /><br />
		  	  			<input class="btn btn-danger btn-lg" type='submit' value='Pon Mi nombre en la lata ¡WEY!'>
		  	  		</div>
				</form>
			</div>
		</div>
	</div>
</div>