<div class="myname-container">
	<div class="row">
		<div class="jumbotron myname-square">
			<div class="container">
				<img src='/tmp/<%= @bottle_name %>.png' alt='<%= @bottle_name %>' />
			</div>
		</div>
	</div>
</div>